@charset "utf-8";
/* CSS Document */

body{
	

}

div{
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 18px;
	
		
}

.full{
	flex-basis: 100%;
}
.half{
	flex-basis: 45%;
}
 .border {
	 display: flex;
	 flex-wrap: wrap;
	background-color: green;
	 justify-content: center;
	align-items: center;
	
	
}

.box1 {
	display: flex;
	flex-grow: 1;
	flexbox-wrap: wrap;
	background-color: aliceblue;
	
	
}

.box2 {
	display: flex;
	flex-grow: 1;
	flex-basis: 90%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
		
}

.a {
  font-family: Patrick Hand SC, cursive; sans-serif;
	 font-size: 16px
}
.b {
  font-family: Patrick Hand SC, cursive; sans-serif;
	 font-size: 14px
}
input {
  font-family: Patrick Hand SC, cursive; sans-serif;
	 font-size: 16px
}
label {
  font-family: Patrick Hand SC, cursive; sans-serif;
	 font-size: 16px
}
.c {
  font-family: Patrick Hand SC, cursive; sans-serif;
	 font-size: 36px
}

.e{
	font-family: 'Hachi Maru Pop', cursive;
	font-size: 42px
}
		 
		 
		 


